<div style="background-color:lightblue;">
  <h3 >  &nbsp; &nbsp; Post a job<%#=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<%= form_for @post do |f| %>
  <div class="control-group">
    <%#= f.label :taskname, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :taskname, :class => 'text_field' %>
    </div>
  </div>
 <div class="alignleft">
	            <label class="control-label" for="post_taskname"><h4>  &nbsp I need help with:</h4></label>
	            <div style="height:10px">&nbsp</div>
	            <div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/soapbucket.jpeg" id="post_taskname" name="post[taskname]" value="house cleaning" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/handyman.jpeg" id="post_taskname" name="post[taskname]" value="handyman help" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/eventplanning.jpeg" id="post_taskname" name="post[taskname]" value="event planning" width="50" height="50" type="image"></input></div>
		            <div style="clear:both;height:10px;">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/desk.jpeg" id="post_taskname" name="post[taskname]" value="office help" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/moving.jpeg" id="post_taskname" name="post[taskname]" value="moving help" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/other.jpeg" id="post_taskname" name="post[taskname]" value="other" width="50" height="50" type="image"></input></div>
		            <div style="clear:both;height:20px;">&nbsp</div>
	            </div>
	        </div>
	        <div class="alignleft" style="width:50px">&nbsp</div>
                 <div class="alignleft">
	            <label class="control-label" for="post_amount_offered"><h4>I will pay:</h4></label>
	            <div style="height:10px">&nbsp</div>
	            <div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/10d.png" id="post_amount_offered" name="post[amount_offered]" value ="10" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/20d.png" id="post_amount_offered" name="post[amount_offered]" value ="20"  width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/30d.png" id="post_amount_offered" name="post[amount_offered]" value ="30" width="50" height="50" type="image"></input></div>
		            <div style="clear:both;height:10px;">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/40d.png" id="post_amount_offered" name="post[amount_offered]" value ="40" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/50d.png" id="post_amount_offered" name="post[amount_offered]" value ="50" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/60d.png" id="post_amount_offered" name="post[amount_offered]" value ="60" width="50" height="50" type="image"></input></div>
		            <div style="clear:both;height:20px;">&nbsp</div>
	            </div>
	        </div>
	        <div class="alignleft" style="width:50px">&nbsp</div>
                  <div class="alignleft">
	            <label class="control-label" for="post_time_to_complete"><h4> days to complete:</h4></label>
	            <div style="height:10px">&nbsp</div>
	            <div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/1.png" id="post_time_to_complete" name="post[time_to_complete]" value="1" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/2.png" id="post_time_to_complete" name="post[time_to_complete]" value="2" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/3.png" id="post_time_to_complete" name="post[time_to_complete]" value="3" width="50" height="50" type="image"></input></div>
		            <div style="clear:both;height:10px;">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/4.png" id="post_time_to_complete" name="post[time_to_complete]" value="4" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/5.png" id="post_time_to_complete" name="post[time_to_complete]" value="5" width="50" height="50" type="image"></input></div>
		            <div class="alignleft" style="width:10px">&nbsp</div>
		            <div class="alignleft" style="margin-left:10px;margin-right:10px"><input src="/assets/6.png" id="post_time_to_complete" name="post[time_to_complete]" value="6" width="50" height="50" type="image"></input></div>
		            <div style="clear:both;height:20px;">&nbsp</div>
	            </div>
	        </div>
                 <div class="alignleft" style="width:50px">&nbsp</div>
                <br/>
                
  <div class="control-group">
    <%= f.label :userid, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :userid, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :amount_offered, :class => 'control-label' %>
    <div class="controls">
      <%#= f.number_field :amount_offered, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :time_to_complete, :class => 'control-label' %>
    <div class="controls">
      <%#= f.number_field :time_to_complete, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location_zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :location_zip_code, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "post job", :class => 'btn btn-primary' %>
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>



<%- model_class = Post -%>
<div style="background-color:lightblue;">
  <h3>  &nbsp; &nbsp; Apply for Jobs close to you<%#=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%#= model_class.human_attribute_name(:id) %></th>
      <th>Task<%#= model_class.human_attribute_name(:taskname) %></th>
      <th><%= model_class.human_attribute_name(:userid) %></th>
      <th>Will Pay $$ <%#= model_class.human_attribute_name(:amount_offered) %></th>
      <th>duration<%#= model_class.human_attribute_name(:time_to_complete) %></th>
      <th>ZipCode<%#= model_class.human_attribute_name(:location_zip_code) %></th>
      <th><%#= model_class.human_attribute_name(:created_at) %></th>
      <th><%#=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%#= link_to post.id, post_path(post) %></td>
        <td><%= post.taskname %></td>
        <td>JohnDoe<%= post.userid %></td>
        <td><%= post.amount_offered %></td>
        <td><%= post.time_to_complete%> hours</td>
        <td><%= post.location_zip_code %></td>
        <td><%#=l post.created_at %></td>
        <td>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-mini' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to  "apply",
                      post_path(post),
                      :class => 'btn btn-medium btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>


